<div class="panel panel-primary">
  <div class="panel-heading"><strong>Department Leaderboard:</strong></div>
  <div class="panel-body">
    <% if list_of_depts %>
    <div class="row">
      <div class="span6 offset3">
        <table class="table table-striped ">
          <thead>  
            <tr>
              <th>Department</th>
              <th>Record</th>
            </tr>
          </thead>
          <tbody>
            <% sorted_list_of_depts.each do |dept| %>
            <tr>
              <td> <%= Guess.get_department_name(dept[:id]) %></td>
              <td> <%= dept[:count] %></td>
            </tr>
            <% end %> 
          </tbody>
        </table>
      </div>
    </div>
    <%= dept_pie_chart %>
    <div id="piechart" style="width:100%; height:300px;"></div>
    <% else %>
    <blockquote>
      <h3>There are currently no departments with a geek!</h3>
    </blockquote>
    <% end %>
  </div>
</div>
