<h1>About Geek of the Week</h1>

<p>Info about the history of Geek of the Week...</p>

<p>App created by David Pribil and David Wilson. Any problems, please contact them via their work emails (dpribil or dwilson [at] guidespark).</p>
