<% provide(:title, " | About") %>
<h1 class="text-center">What are Wins of the Week?</h1>

<p>Wins of the Week are a collection of items from the weekly Wins Meeting at GuideSpark.</p>




<h3>What is this Web App?</h3>
<p>This web app is an attempt to make all the Wins of the Week available online to GuideSpark employees. This will allow people working in all GuideSpark offices to get involved in competitions like Geek of the Week, to find out information like Req of the Week, and to view or receive company-wide recognition for individual 'wins'.</p>

<%= render 'any_problems' %>