<% provide(:title, " | About") %>
<h1 class="text-center">What is Geek of the Week?</h1>

<p>Geek of the Week is a competition run by the Product Management and Software Engineering teams at GuideSpark. Every week, a member of these teams sets a mystery number, often with a little hint. During the week, anyone at GuideSpark can guess what the number represents. The people who guess correctly during the week are announced in the Wins Meeting on each Friday and they get to be Geek of the Week!</p>




<h3>What is this Web App?</h3>
<p>Up until now, the Geek of the Week competition has been conducted using a whiteboard at the front of the GuideSpark 1350 Willow office. Now that the company is growing and new offices have been opened, not everyone will be passing through 1350 Willow regularly, and so this Web App will hopefully let everyone enter the competition easily. 

<%= render 'any_problems' %>