<h1 class="text-center" style="font-weight: 300;">Welcome to<br/><%= image_tag("winsoftheweek.png", alt: "Wins of the Week", class: "img-rounded", border: "0") %></h1>

<p>This micro-site is dedicated to various items from the weekly Wins meeting at GuideSpark. At the moment, you can visit the following:
  <ul class="list-group">
    <li class="list-group-item"><%= link_to image_tag("geekoftheweek.png", :alt => "Geek of the Week", height: '30', class: "img-rounded"), geek_of_the_week_home_path %> </li>
    <li class="list-group-item"><%= link_to image_tag("reqoftheweek.png", :alt => "Req of the Week", height: '30', class: "img-rounded"), req_of_the_week_home_path %> </li>
  </ul>
</p>

<p>You can also get back to the <%= link_to "GuideSpark Internal Site", "http://intranet.guidespark.net/" %>.</p>