<h1>Create a New Challenge</h1>

<p>There are no challenges available. If you are an admin then click below to add a new challenge.</p>

<%= link_to "Create Challenge", 'challenges#create', class: "btn btn-large btn-primary center-block" %>
