<% provide(:title, " | Leaderboard") %>
<h1>Last Challenge and Leaderboard</h1>

<%= render 'previous_challenge' %>

<%= render 'user_leaderboard' %>

<div><%= link_to 'Back to current challenge', home_path, :class => "btn btn-default"%></div>
