<% provide(:title, " | About") %>
<h1 class="text-center">What is Req of the Week?</h1>

<p>
<em>Req of the Week</em> is a job posting for GuideSpark that offers an additional incentive for recommending a candidate. If you make a referral on a successful candidate then you will get an additional $2,000, on top of the standard employee referral bonus. 
</p>

<h3>What does it mean to make a referral?</h3>

<p>
  Making a referral means that a candidate you know has applied to a position at GuideSpark under your recommendation. If they receive an offer, accept a position, and work for more than 90 days, then you will receive the joining bonus. 
</p>

<p><b>Important:</b> You will only receive the bonus if the candidate has not already applied to the position on their own.</p>

<h3>How do I make a referral?</h3>

<p>There are a couple of ways to make a referral:
  <ul>
    <li><b>Resumator:</b> you can log into Resumator and directly apply the referral by typing in the candidates name or uploading their CV;</li>
    <li><b>Email:</b> you can send your referral directly to a member of the Recruitment Team (<code>rredman[at]guidespark</code>).</li>
  </ul>
</p>


<!-- <h3>What is this Web App?</h3>
<p>This Web App has been created to give GuideSpark employees details about the Req of the Week.</p>  -->

<h3>Any Problems?</h3>
<p>This site was created by David Pribil and David Wilson of the Software Engineering team. If you have any problems, please contact them via email (<code>dpribil/dwilson[at]guidespark</code>).</p>
