<h1 class="text-center">Previous Challenges and Leaderboard</h1>

<% if params.has_key?(:historic_challenge) && Challenge.exists?(id: params[:historic_challenge]) %>
<% historic_challenge =  Challenge.find(params[:historic_challenge]) %>
<% else %>
<% historic_challenge ||=  (Challenge.all.count>1 ? Challenge.all[-2] : nil) %>
<% end %>

<%= render partial: 'leaderboard/previous_challenge', locals: {historic_challenge: historic_challenge} %>

<%= render 'leaderboard/user_leaderboard' %>

<%= render 'leaderboard/department_leaderboard' %>