<div class="panel panel-primary">
  <div class="panel-heading"><strong>Leaderboard:</strong></div>
  <div class="panel-body">
    <% if list_of_geeks %>
        <table class="table table-striped ">
          <thead>  
            <tr>
              <th>Geek</th>
              <th>Department</th>
              <th class="text-center">Record</th>
            </tr>
          </thead>
          <tbody>
            <% sorted_list_of_geeks.each do |geek| %>
            <tr>
              <td> <%= "#{User.find(geek[:id]).first_name} #{User.find(geek[:id]).last_name}" %>
              </td>
              <td>
                <% geek_depts(geek).each do |dep_name| %>
                   <span class="badge"><%= dep_name %> </span>
                <% end %>
              </td> 
              <td class="text-center"> <%= geek[:count] %></td>
            </tr>
            <% end %> 
          </tbody>
        </table>
    <% else %>
    <blockquote>
      <h3>There are currently no geeks!</h3>
    </blockquote>
    <% end %>
  </div>
</div>
