<% provide(:title, " | Guesses") %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Current Guesses</h2>
  </div>
  <%= render partial: 'layouts/guesses', :locals => {:isAdmin => true, :guesses => @guesses}%>
  <div class="panel-footer"><%= link_to 'Back to challenge', geek_of_the_week_path, :class => "btn btn-default"%></div>
</div>
