<h1>Listing guesses</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guesses.each do |guess| %>
      <tr>
        <td><%= guess.answer %></td>
        <td><%= guess.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', user_challenge_path(@user, @challenge) %>
