<% provide(:title, " | Guesses") %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Current Guesses</h2>
  </div>
  <%= render partial: 'layouts/guesses', :locals => {:isAdmin => true, :guesses => @guesses}%>
</div>

<div class="back_button"><%= link_to 'Back to current challenge', get_home_path, :class => "btn btn-default"%></div>