<%= form_for(:guess, url: challenge_guesses_path(@challenge)) do |f| %>


    <%= render partial: 'layouts/username', locals: {:form => f}%>

      <div class="input-group col-md-12">
          <%= f.text_field :answer, :class => "form-control", :placeholder => "Your guess?" %>
          <span class="input-group-btn">
               <%= f.submit "Submit", :class => 'btn btn-default' %>
          </span>
      </div>

<% end %>
