<% if @challenge.guesses.all.count > 0 %>
<div class="row">
  <div class="span6 offset3">
    <h3>Current Guesses:</h3>
    <table class="table table-striped table-bordered">
      <thead>  
        <tr>
          <th>Guess</th>
          <th>Guesser</th>
        </tr>
      </thead>
      <tbody>
        <% @challenge.guesses.each do |guess| %>
        <tr>
          <td> <%= guess.answer %> </td>
          <td> <%= guess.user.first_name %> <%= guess.user.last_name %> </td>
        </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
</div>
<% end %>