<% provide(:title, " | New") %>
<h1 class="text-center">Set a new challenge</h1>

<%= render 'form' %>

<div class="back_button"><%= link_to 'Back to current challenge', get_home_path, :class => "btn btn-default"%></div>
