<p id="notice"><%= notice %></p>

<h1>This week's challenge is:</h1>

<blockquote>
  <h3><%= @challenge.question %></h3>
  <footer>A user</footer>
</blockquote>

<% if @challenge.hint %>
    <p>
      <strong>Hint:</strong>
      <%= @challenge.hint %>
    </p>
<% end %>

<%= render 'challenges/answer'%>

