// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.nav-pills>li>a {
  background-color: #f6f6f6;
}

#tabs-1 {

  li {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  };

};

#piechart {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.pie-col-md-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media(min-width: $screen-xs-max){

  #tabs-0 {
    display: block;
  };

  #tabs-1 {
    display: none;
  };

  #piechart {
    width: 600px;
    height: 300px;
  }

}

@media(max-width: $screen-xs-max){

  #tabs-0 {
    display: none;
  };

  #tabs-1 {
    display: block;
  };

  #piechart {
    width: 365px;
    height: 180px;
  }

}