@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

.centerDropdown {
  left: auto !important;
  right: 0 !important;
}
.centerDropdown:after {
  left: auto !important;
  right: 0 !important;
}

@media all {

  .footer-right {
    text-align: right;
  }

  .container {
    width: 980px;
  }
}

.navbar {
  border-radius: 0px !important;
}

@media(max-width: 980px){

  .container {
    width: 100%;
  }

  .footer-left {
    text-align: center;
  }
  .footer-right {
    text-align: center;
  }

  .navbar {
    margin-bottom:0;
  }
  .alert {
    margin: 0;
  }
}

.back_button {
  margin-top:20px;
}
