// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#leaderboards-panel-footer {
  width: 100%;
}

.challenge_winnders_p {
  margin: 0;
}

.list-group-item .badge {
  font-weight: normal;
  background-color: #999999;
}

.table .badge {
  font-weight: normal;
  background-color: #999999;
}