<footer>
  <p><%= image_tag("logo.png", :alt => "Guidespark Logo", height: '30') %> &copy;2014
  <span class="pull-right">
    <%= link_to "Home", '#' %> | <%= link_to "About", '#' %> | <%= link_to "Leaderboard", '#' %><span></p>
</footer>