<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <p id="logo"><%= link_to image_tag("geekoftheweek.png", :alt => "Guidespark Logo", height: '32'), home_path %></p>

    <% if @challenge && @challenge.persisted? %>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

          <ul id="collapsed-content" class="nav navbar-nav pull-right collapse navbar-collapse">
            <li class="dropdown" data-no-collapse="true">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span> </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Evaluate guesses', challenge_guesses_path(@challenge) %></li>
                <li><%= link_to 'New Challenge', new_challenge_path, data: {confirm: 'This will end the current challenge. Are you sure?'} %></li>
              </ul>
            </li>
          </ul>
  <% end %>

  </div>
</div>