<div class="row">
  <% if show_department %>
      <div class="col-md-4">
  <% else %>
      <div class="col-md-6">
  <% end %>
  <div class="field form-group">
    <%= form.autocomplete_field :first_name, autocomplete_user_first_name_users_path, :value => cookies[:guess_game_first_name], :class => "form-control", :placeholder => "First Name" %>
  </div>

  </div>

  <% if show_department %>
      <div class="col-md-4">
  <% else %>
      <div class="col-md-6">
  <% end %>
  <div class="field form-group">
    <%= form.autocomplete_field :last_name, autocomplete_user_last_name_users_path, :value => cookies[:guess_game_last_name], :class => "form-control", :placeholder => "Last Name" %>
  </div>
  </div>

  <% if show_department %>
      <div class="col-md-4">
        <div class="field form-group">
          <%= form.select :department, options_for_select(DEPARTMENT_CONSTANTS.map { |x| [x[:name], x[:id]] }, cookies[:guess_game_department] || 0), {}, {'class' => 'btn btn-default dropdown-toggle form-control', 'data-toggle' => 'dropdown'} %>
        </div>
      </div>
  <% end %>
  </div>