<div class="row">
    <div class="col-md-6">
    <div class="field">
      <%= form.autocomplete_field :first_name, autocomplete_user_first_name_users_path, :value => cookies[:guess_game_first_name], :class => "form-control", :placeholder => "First Name" %>
    </div>

    </div>

    <div class="col-md-6">
    <div class="field">
      <%= form.autocomplete_field :last_name, autocomplete_user_last_name_users_path, :value => cookies[:guess_game_last_name], :class => "form-control", :placeholder => "Last Name" %>
    </div>

      </div>
</div>